@media only screen and (max-width: 1094px) {

    body {
        background-color: hsl(233, 47%, 7%);
        max-width: 1440px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .card {
        display: flex;
        flex-direction: column-reverse;
        width: 327px;
        height: 780px;

    }

    .card-info {
        display: flex;
        padding: 40px 20px;
        gap: 50px;
        text-align: center;
        height: auto;




    }

    .card-info h1 {
        font-size: 28px;
        align-items: center;

    }

    .card-info h1 span {
        font-size: 28px;
    }

    .card-info p {
        text-align: center;
    }


    .card-stats li {
        font-size: 22px;
    }

    .card-stats,
    li {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        gap: 17px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 10px;


    }

    .right-content {
        max-height: 240px;
        border-radius: 8px 8px 0px 0px;

    }

    .image{
        border-radius: 8px 8px 0px 0px;

    }




}